{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

    <ul class="menu" id="main-menu-home">
        {{ $currentPage := . }}
        {{ range .Site.Menus.shwchurch }}
        {{ $active := or (eq $currentPage.Title .Name) (or ($currentPage.HasMenuCurrent "main" .)
        ($currentPage.IsMenuCurrent "main" .)) }}
        <li {{ if $active }} class='current' {{ end }}>
            <a href='{{ .URL }}' {{ if eq .Params.newTab true }}target="_blank" {{ end }}>
                {{ $icon := default .Pre .Params.Icon }}
                {{ if .Pre }}
                {{ end }}
                {{ with $icon }}
                <!-- {{ partial "helper/icon" . }} -->
                {{ end }}
                <span>{{- .Name -}}</span>
            </a>
        </li>
        {{ end }}

    </ul>

    <section class="article-list">
        {{ range $index, $element := first 3 $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}